# ! Consider using strict-peer-dependencies: https://nodejs.org/en/blog/npm/peer-dependencies/
strict-peer-dependencies=false
auto-install-peers=true
# See ./package.json > engines
engine-strict=true
# https://github.com/pnpm/pnpm/issues/4920
public-hoist-pattern[]=@types*
