body {
  margin: 0;
  background-attachment: fixed;
  background-color: hsl(220deg 13% 18%);
  background-image: url("@assets/bg-aurora.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  color: $light-shades;
  @include body;

  overflow-x: hidden;

  @media (max-width: 800px) {
    background-size: auto 600px;
  }

  @media (min-width: 800px) {
    background-size: cover;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

h1 {
  @include heading-1;
}

h2 {
  @include heading-2;
}

h3 {
  @include heading-3;
}

h4 {
  @include heading-4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
