@use "src/styles/typography.scss" as typography;
@use "sass:color";
@import "https://fonts.googleapis.com/css?family=Outfit";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @include typography.components;

  .radial-border {
    @include mixins.radial-border(colors.$dark-accent);
  }

  .solid-background {
    @apply w-screen h-auto bg-dark;
  }

  .acrylic-dark {
    @include mixins.acrylic;
  }

  .acrylic-light {
    @include mixins.acrylic-light;
  }

  .radial-border-utils {
    content: "";
    inset: 0;
    mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    mask-composite: xor;
    mask-composite: exclude;
  }
}

@layer utilities {
  @include typography.utilities;

  .bg-dark {
    background-color: colors.$dark-shades;
  }

  .border-main-brand {
    border-color: colors.$main-brand;
  }

  .border-dark-accent {
    border-color: colors.$dark-accent;
  }

  .hyphens {
    hyphens: auto;
  }

  .hyphens-none {
    hyphens: none;
  }
}

@layer base {
  @include typography.base;

  body {
    @apply font-sans subpixel-antialiased m-0 text-light-shades scroll-smooth;
    @apply bg-dark bg-fixed bg-top bg-no-repeat overflow-x-hidden;

    background-image: url("@assets/bg-aurora.jpg");
    font-display: optional;

    @media (max-width: 600px) {
      background-size: auto 600px;
    }

    @media (min-width: 600px) {
      background-size: cover;
    }
  }

  html {
    // Need scroll padding to offset the fixed header
    @apply scroll-smooth scroll-pt-16;
  }

  #root {
    // HACK to fix the nav and background scrolling on mobile
    @media (hover: none) and (pointer: coarse) {
      @apply relative overflow-x-hidden;

      -webkit-overflow-scrolling: touch;
      overflow-y: scroll;
    }
  }

  p,
  li,
  h1,
  h2,
  h3,
  h4 {
    @apply mt-0 break-words hyphens;
  }

  h1,
  h2,
  h3,
  h4 {
    &::before {
      display: inline-block;
      height: 75px;
      margin-top: -75px;
      content: "";
      visibility: hidden;
    }
  }

  svg {
    display: inline-block;
  }

  * {
    box-sizing: border-box;
    scrollbar-color: colors.$light-shades
      color.scale(colors.$dark-shades, $alpha: -30%);

    // Override browser default focus styles

    &:focus-visible {
      outline: 3px solid colors.$light-accent;
    }

    &::selection {
      background-color: colors.$light-accent;
      color: colors.$dark-shades;
    }
  }
}
