@mixin acrylic($angle: 90deg) {
  backdrop-filter: blur(24px);
  background: linear-gradient(
    $angle,
    hsl(0deg 0% 0% / 20%) 0%,
    hsl(0deg 0% 0% / 50%) 100%
  );
}

@mixin acrylic-light($angle: 90deg) {
  backdrop-filter: blur(24px);
  background: linear-gradient(
    $angle,
    hsl(180deg 56% 21%/ 10%) 0%,
    rgb(255 255 255 / 0%) 50%
  );
}

@mixin radial-border($color: $light-accent, $x: 50%, $y: 50%) {
  border: 1px solid;
  border-image: radial-gradient(
      50% 100% at $x $y,
      $color 50%,
      rgb(0 0 0 / 0%) 100%
    )
    1;
}
