// colors
$main-brand: hsl(180deg 56% 21%);
$light-shades: hsl(180deg 5% 91%);
$light-accent: hsl(185deg 46% 52%);
$dark-shades: hsl(218deg 22% 10%);
$dark-accent: hsl(193deg 22% 46%);
$danger: red;
$success: green;

// typography
$font-family-body: "Outfit", sans-serif;
$font-family-heading: "Outfit", sans-serif;
$font-family-code: "source-code-pro", "Menlo", "Monaco", "Consolas",
  "Courier New", monospace; ;
