._mountainMiddle {
  @apply absolute w-0 h-0 -z-[1];

  top: 80px;
  border-width: 0 clamp(450px, 25vw, 25vw) clamp(800px, 75vh, 75vh);
  border-style: solid;
  border-color: transparent transparent colors.$dark-shades;
}

._mountainLeft {
  @apply absolute w-0 h-0;

  top: clamp(125px, 18vh, 18vh);
  right: -275px;
  border-width: 0 clamp(450px, 25vw, 25vw) clamp(800px, 75vh, 75vh);
  border-style: solid;
  border-color: transparent transparent colors.$dark-shades;
}

._mountainRight {
  @apply absolute w-0 h-0;

  top: clamp(75px, 10vh, 10vh);
  left: -325px;
  border-width: 0 clamp(450px, 25vw, 25vw) clamp(800px, 75vh, 75vh);
  border-style: solid;
  border-color: transparent transparent colors.$dark-shades;
}
