.custom-navbar {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  gap: 20px;
}

.navbar-links {
  display: flex;
  justify-content: space-around;

  // gap: 20px;
}
