.button {
  display: flex;
  width: 218px;
  height: 60px;
  flex: none;
  flex-direction: row;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  order: 3;
  padding: 18px 35px;
  border: none;

  // border-radius: 200px;
  background: none;
  gap: 10px;
}
