._acrylicButton {
  @apply subtitle border-0 py-4 rounded-full text-light-accent;
  @apply cursor-pointer;

  @keyframes shadow-inset-center {
    from {
      box-shadow: inset 0 0 0 0 rgb(0 0 0 / 0%);
    }

    to {
      box-shadow: inset 0 0 2rem 0 rgb(0 0 0 / 50%);
    }
  }

  &:active {
    color: colors.$light-shades;
  }

  &:hover {
    color: colors.$light-shades;
  }

  &._dark:hover {
    @include mixins.acrylic(var(--mouse-deg, 90deg));
  }

  &._light:hover {
    @include mixins.acrylic-light(var(--mouse-deg, 90deg));
  }

  &:focus {
    animation: shadow-inset-center 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
  }

  &::before {
    @apply absolute p-px border-0 rounded-full radial-border-utils -z-[1];

    background: radial-gradient(
      50% 100% at 50% 50%,
      colors.$light-accent 75%,
      rgb(76 179 188 / 0%) 100%
    );
  }

  &:hover::before {
    background: radial-gradient(
      75% 100% at var(--mouse-x, 50%) var(--mouse-y, 50%),
      colors.$light-accent 75%,
      rgb(76 179 188 / 0%) 100%
    );
  }

  &:active::before {
    background: colors.$light-accent;
  }
}
