._navbarLink {
  border: transparent 1px solid;
  background: none;
  color: colors.$light-accent;
  cursor: pointer;

  &:hover {
    color: colors.$light-shades;
    @include mixins.acrylic(var(--mouse-deg, 90deg));
    @include mixins.radial-border(
      colors.$light-accent,
      var(--mouse-x, 50%),
      var(--mouse-y, 50%)
    );
  }

  &:active {
    border: colors.$light-accent 1px solid;
    color: colors.$light-shades;
  }

  @keyframes shadow-inset-center {
    from {
      box-shadow: inset 0 0 0 0 rgb(0 0 0 / 0%);
    }

    to {
      box-shadow: inset 0 0 2rem 0 rgb(0 0 0 / 50%);
    }
  }

  &._selected {
    @include mixins.acrylic(var(--mouse-deg, 90deg));

    animation: shadow-inset-center 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    background-color: colors.$main-brand;
    color: colors.$light-shades;
  }

  @for $num from 1 through 5 {
    @keyframes rotate-x {
      0% {
        opacity: 0;
        transform: rotateX(-90deg);
      }

      50% {
        transform: rotateX(-20deg);
      }

      100% {
        opacity: 1;
        transform: rotateX(0deg);
      }
    }
    @media not (prefers-reduced-motion) {
      &._dropdownItem#{$num}:not(._safari) {
        animation: rotate-x 100ms calc($num * 80ms) ease-in-out forwards;
        opacity: 0;
        transform-origin: top center;

        &._selected {
          animation: shadow-inset-center 1000ms
              cubic-bezier(0.25, 0.46, 0.45, 0.94) both,
            rotate-x 300ms calc($num * 60ms) ease-in-out forwards;
        }
      }
    }
  }
}
